<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Sqx.UnitTest" Major="1" Minor="20" Build="0">
      <Files>
        <CPackFile Name="Sqx/UnitTest/Init.sqx" CheckSum="gSVbUkZo3OcINMyX0z4UPw==" />
        <CPackFile Name="Sqx/UnitTest/README.txt" CheckSum="kb5PAt9bjlZJn4vdJUB62w==" />
        <CPackFile Name="Sqx/UnitTest/TestEngine/Assert.sqx" CheckSum="H1MlRyZNlOCVjqdvQGa5uA==" />
        <CPackFile Name="Sqx/UnitTest/TestEngine/TestEngine.sqx" CheckSum="tjPUAA1Ug68LSHO8DkgHNw==" />
        <CPackFile Name="Sqx/UnitTest/TestEngine/TestUnit.sqx" CheckSum="2qGFCwWBqkeL3/AseR8Hlg==" />
        <CPackFile Name="Tests/Example/ExampleTests.sqx" CheckSum="T0Z+/f/SjhwYF20hXDNUXQ==" />
        <CPackFile Name="Tests/InitMyTestClasses.sqx" CheckSum="M82xkr7TZhVm7JH0IyNVzA==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\UnitTest\Init.sqx.sqf"; call Sqx_UnitTest_TestEngine_RunDelayedAsync;</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
      <DescriptionExtLine />
    </CPack>
  </CPacks>
</CPackSettings>